@keyframes Bounce {
    0%{ transform: translateY(0px);}
    10%{transform: translateY(-30px);}
    50%{transform: translateY(-20px);}
    90%{transform: translateY(-30px);}
    95%{transform: translateY(-20px);}
    100%{transform: translateY(-10px);}
 }
.main{
    display: flex;
    justify-content: space-evenly;
}
textarea{
    width: 40%;
    border: 1px solid gray;
    box-shadow: 0px 8px 5px gray;
    height: 500px;
    overflow: hidden;
    font-size: 2vw;
    word-wrap: break-word;
    color: black;
    outline: 0;
    background-color: white;
}
